* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

.App {
    padding: 20px;
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form {
    display: flex;
    gap: 10px;
}

.task-item {
    display: flex;
    gap: 10px;
}

.task-item p {
    margin-right: auto;
}

button {
    padding: 0.25rem 1rem;
}